@model ClientAccountModel


<body style="color: #1a202c; text-align: left; background-color: #e2e8f0;">
    <h2 class="success text-center">Личный кабинет клиента</h2>

    <div class="container">
        <div class="main-body">

            <form asp-action="EditClientCredentials" asp-controller="Account">
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                        <div class="card thumbnail">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                    <div class="mt-3">
                                        @if (Model.FullName is null)
                                        {
                                            <h4 style="font-size:24px">---</h4>
                                        }
                                        else
                                        {
                                            <h4 style="font-size:24px">@Model.FullName</h4>
                                        }
                                        <p class="text-secondary mb-1"></p>
                                        <p class="text-muted font-size-sm"></p>
                                        <button class="btn btn-primary">Сменить аватар</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <span>
                                        <img src="~/images/abdominals.png" width="40" height="40" />
                                        <span class="">Пресс</span>
                                    </span>

                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <span>
                                        <img src="~/images/back.png" width="40" height="40" />
                                        Спина
                                    </span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <span>
                                        <img src="~/images/biceps.png" width="40" height="40" />
                                        Бицепс
                                    </span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <span>
                                        <img src="~/images/butt.png" width="40" height="40" />
                                        Ягодицы
                                    </span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <span>
                                        <img src="~/images/chest.png" width="40" height="40" />
                                        Грудные мышцы
                                    </span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <span>
                                        <img src="~/images/quadricep.png" width="40" height="40" />
                                        Ноги
                                    </span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <span>
                                        <img src="~/images/shoulder.png" width="40" height="40" />
                                        Плечи
                                    </span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <span>
                                        <img src="~/images/triceps.png" width="40" height="40" />
                                        Трицепс
                                    </span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <span>
                                        <img src="~/images/swimming.png" width="40" height="40" />
                                        Плавание
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0" style="font-size:16px">Фамилия</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input asp-for="Id" type="hidden" class="form-control" />
                                        <input asp-for="Login" type="hidden" class="form-control" />
                                        <input asp-for="IsAbonementValid" type="hidden" />
                                        <input asp-for="FullName" type="hidden" class="form-control" />
                                        <input asp-for="Surname" class="form-control">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 style="font-size:16px" class="mb-0">Имя</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input asp-for="FirstName" class="form-control" />
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 style="font-size:16px" class="mb-0">Отчество</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input asp-for="Patronymic" class="form-control" />
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 style="font-size:16px" class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input asp-for="Email" class="form-control" />
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 style="font-size:16px" class="mb-0">Телефон</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input asp-for="MobileNumber" class="form-control" />
                                    </div>
                                </div>
                                <hr>


                                <div class="row">
                                    <div class="col-sm-12" style="text-align:center; margin-top:6px">
                                        <input type="submit" value="Сохранить" class="btn btn-info" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row gutters-sm">
                            <div class="col-sm-6 mb-3">

                            </div>
                        </div>



                    </div>
                </div>
                </form>
        </div>
    </div>
</body>
