<div id="fh5co-our-services" data-section="services">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Наши услуги</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate">
							<h3>Качалка.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-1"><span><i class="icon-mustache"></i></span></div>
						<h3>Занятия с тренером</h3>
						<p>Помощь от специалистов высшего класса.</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-4"><span><i class="icon-heart"></i></span></div>
						<h3>Измерение состояния здоровья</h3>
						<p>Во время тренировок данные о показателях здоровья клиента сохраняются. Сообразно показателям формируется графики и рекомендации для дальнейших тренировок.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-2"><span><i class="icon-screen-desktop"></i></span></div>
						<h3>Групповые занятий</h3>
						<p>Принятие участия в групповых тренировках.</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-5"><span><i class="icon-rocket"></i></span></div>
						<h3>Крытый бассейн</h3>
						<p>.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box to-animate">
						<div class="icon colored-3"><span><i class="icon-eye"></i></span></div>
						<h3>Салон красоты</h3>
						<p>Масаж - все дела.</p>
					</div>
					<div class="box to-animate">
						<div class="icon colored-6"><span><i class="icon-user"></i></span></div>
						<h3>Фитнес-кафе</h3>
						<p>Испробуйте кружечку вкуснейшего кофе с круасаном.</p>
					</div>
				</div>
			</div>
		</div>
	</div>