@model AbonementModel

<form asp-controller="Abonement" asp-action="BuyAbonement">
    <input  value="@Model.ClientId" type="hidden" name="clientId" class="form-control" />
    <div id="fh5co-pricing" data-section="pricing" style="margin-top:-16px">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="single-animate animate-pricing-1">Прейскурант</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext single-animate animate-pricing-2">
                            <h3>Покупка абонемента</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="price-box to-animate">
                        <h2 class="pricing-plan">Начинающий</h2>
                        <div class="price"><sup class="currency">руб.</sup>7<small>/mo</small></div>
                        <p>Basic customer support for small business</p>
                        <hr>
                        <ul class="pricing-info">
                            <li>10 projects</li>
                            <li>20 Pages</li>
                            <li>20 Emails</li>
                            <li>100 Images</li>
                        </ul>
                        <input type="submit" value="Приобрести" class="btn btn-default btn-sm" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="price-box to-animate">
                        <h2 class="pricing-plan">Регулярный</h2>
                        <div class="price"><sup class="currency">руб.</sup>19<small>/mo</small></div>
                        <p>Basic customer support for small business</p>
                        <hr>
                        <ul class="pricing-info">
                            <li>15 projects</li>
                            <li>40 Pages</li>
                            <li>40 Emails</li>
                            <li>200 Images</li>
                        </ul>
                        <input type="submit" value="Приобрести" class="btn btn-default btn-sm" />
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3 col-sm-6 to-animate">
                    <div class="price-box popular">
                        <div class="popular-text">Выгодно</div>
                        <h2 class="pricing-plan">Регулярный+</h2>
                        <div class="price"><sup class="currency"></sup>79<small>руб.</small></div>
                        <p>Basic customer support for small business</p>
                        <hr>
                        <ul class="pricing-info">
                            <li>Unlimitted projects</li>
                            <li>100 Pages</li>
                            <li>100 Emails</li>
                            <li>700 Images</li>
                        </ul>
                        <input type="submit" value="Приобрести" class="btn btn-default btn-sm" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="price-box to-animate">
                        <h2 class="pricing-plan">Все включено</h2>
                        <div class="price"><sup class="currency">руб.</sup>125<small>/mo</small></div>
                        <p>Годовой абонемент с безлимитным посещением</p>
                        <hr>
                        <ul class="pricing-info">
                            <li>Unlimitted projects</li>
                            <li>Unlimitted Pages</li>
                            <li>Unlimitted Emails</li>
                            <li>Unlimitted Images</li>
                        </ul>
                        <input type="submit" value="Приобрести" class="btn btn-default btn-sm" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>