@model List<ClientAccountModel>



<style>
    .thumbnail {
        box-shadow: 0 4px 8px 0 rgba(97, 115, 244, 0.5);
        transition: 0.3s;
        min-width: 40%;
        border-radius: 5px;
    }

    .thumbnail-description {
        min-height: 40px;
    }

    .thumbnail:hover {
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(97, 115, 244, 1);
    }
</style>

    
<h2 style="text-align:center;">Поиск</h2>
<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <div class="row space-16">&nbsp;</div>
        <div class="row">
            @foreach (var client in Model)
            {
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <div class="position-relative">
                                <img src="~/images/person4.jpg" style="width:72px;height:72px;" />
                            </div>

                            <p><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i>&nbsp;</p>
                            <div class="thumbnail-description smaller">
                                @{
                                    var fullName = client.Surname + " " + client.FirstName[0] + " " + client.Patronymic[0] as string;
                                }

                                @fullName
                            </div>
                            <div class="thumbnail-description smaller">
                                Моб. телефон: @client.MobileNumber
                            </div>
                            <form class="form-inline my-2" asp-controller="Attendance" asp-action="Index">
                                <input type="hidden" value=@client.Id name="coachId" />
                                <input class="form-control mr-sm-2" type="hidden"  />
                                <button class="btn btn-primary my-2 my-sm-0" type="submit">Отметить</button>
                            </form>
                        </div>

                    </div>
                </div>
            }
            <div class="col-md-2">&nbsp;</div>
        </div>
    </div>
</div>

