	<div id="fh5co-about-us" data-section="about">
		<div class="container">
			<div class="row row-bottom-padded-lg" id="about-us">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">О нас</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate">
							<h3>Фитнес клубничка</h3>
						</div>
					</div>
				</div>
				<div class="col-md-8 to-animate">
					<img src="images/img_1.jpg" class="img-responsive img-rounded" alt="Free HTML5 Template">
				</div>
				<div class="col-md-4 to-animate">
					<h2>Ла-ла-ла-ла-ла</h2>
					<p>На-на-на.</p>
					<p>Ла-ла-ла.</p>
					<p><a href="#" class="btn btn-primary">Наша команда</a></p>
				</div>
			</div>
			<div class="row" id="team">
				<div class="col-md-12 section-heading text-center to-animate">
					<h2>Наша команда</h2>
				</div>
				<div class="col-md-12">
					<div class="row row-bottom-padded-lg">
						<div class="col-md-4 text-center to-animate">
							<div class="person">
								<img src="images/person2.jpg" class="img-responsive img-rounded" alt="Person">
								<h3 class="name">Никита Сириченко</h3>
								<div class="position">Тренер со стажем</div>
								<p>Бывший мэр Воронежа. Решил посвятить свою жизнь тренировкам и обучению.</p>
								<ul class="social social-circle">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-instagram"></i></a></li>
									<li><a href="#"><i class="icon-github"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 text-center to-animate">
							<div class="person">
								<img src="images/person3.jpg" class="img-responsive img-rounded" alt="Person">
								<h3 class="name">Малинкин Дмитрий</h3>
								<div class="position">Эксперт</div>
								<p>Уроженец Бора. С детства мечтал стать экспертом. Мечты сбываются.</p>
								<ul class="social social-circle">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-instagram"></i></a></li>
									<li><a href="#"><i class="icon-dribbble"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-4 text-center to-animate">
							<div class="person">
								<img src="images/person4.jpg" class="img-responsive img-rounded" alt="Person">
								<h3 class="name">Антон Покидов</h3>
								<div class="position">Тренер по аэробике</div>
								<p>Тренировался за границей. Однажды спас утопающего на пляже.</p>
								<ul class="social social-circle">
									<li><a href="#"><i class="icon-twitter"></i></a></li>
									<li><a href="#"><i class="icon-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-instagram"></i></a></li>
									<li><a href="#"><i class="icon-github"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>