<div id="fh5co-testimonials" data-section="testimonials">		
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Отзывы наших клиентов</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3></h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo; Классно позанимался &rdquo;</p>
						</blockquote>
						<p class="author">Ярослав Запрудский<a href="http://freehtml5.co/" target="_blank"></a> <span class="subtext">Джуниор разработчик</span></p>
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo; Классно поплавал &rdquo;</p>
						</blockquote>
						<p class="author">Андрей Петухов <a href="http://freehtml5.co/" target="_blank">
							</a> <span class="subtext">3D художник</span></p>
					</div>
					
					
				</div>
				<div class="col-md-4">
					<div class="box-testimony to-animate">
						<blockquote>
							<span class="quote"><span><i class="icon-quote-left"></i></span></span>
							<p>&ldquo; Хожу каждый день &rdquo;</p>
						</blockquote>
						<p class="author">Александр Чернявский
							<a href="#"></a> <span class="subtext">Здоровяк</span></p>
					</div>
					
				</div>
			</div>
		</div>
	</div>