	<div id="slider" data-section="home">
			<div class="owl-carousel owl-carousel-fullwidth">

				<div class="item" style="background: #352f44;">
		    		<div class="container" style="position: relative;">
		    			<div class="row">
							<div class="col-md-7 col-sm-7">
			    				<div class="fh5co-owl-text-wrap">
						    		<div class="fh5co-owl-text">
                                        <h1 class="fh5co-lead to-animate">Расписание тренировок</h1>

										<p class="to-animate-2"><a asp-controller="Schedule" asp-action="index" class="btn btn-primary btn-lg">Посмотреть</a></p>
						    		</div>
								</div>
							</div>
							<div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 header-image-placement">
					    		<div class="iphone to-animate-2"><img src="~/images/calendar.png" alt="Фитнес клуб для богачей"></div>
							</div>
		    			</div>
		    		</div>
				</div>


		    <div class="item" style="background: #38569f;">
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<h1 class="fh5co-lead to-animate">Показатели тренировок</h1>
									<p class="to-animate-2"><a asp-controller="Account" asp-action="Index" class="btn btn-primary btn-lg">Просмотр показателей</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 header-image-placement">
					    	<div class="iphone to-animate-2"><img src="images/fitness.png" alt="Текст22"></div>
					    </div>
		    		</div>
		    	</div>
		    </div>


		    <div class="item" style="background-image:url(images/slide_5.jpg)">
		    	<div class="overlay"></div>
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2 text-center">
		    				<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
		    						<h1 class="fh5co-lead to-animate">Рейтинги</h1>
									<p class="to-animate-2"><a asp-controller="Ladder" asp-action="index" target="_blank" class="btn btn-primary btn-lg">Посмотреть</a></p>
								</div>
							</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>