	<div id="slider" data-section="home">
			<div class="owl-carousel owl-carousel-fullwidth">

				<div class="item" style="background: #352f44;">
		    		<div class="container" style="position: relative;">
		    			<div class="row">
							<div class="col-md-7 col-sm-7">
			    				<div class="fh5co-owl-text-wrap">
						    		<div class="fh5co-owl-text">
						    			<h1 class="fh5co-lead to-animate">Заказ</h1>
										<h2 class="fh5co-sub-lead to-animate">Текст1:
										<a href="http://vk.com/duckfromboloto" target="_blank">Текст1</a></h2>
										<p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Забронировать</a></p>
						    		</div>
								</div>
							</div>
							<div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 header-image-placement">
					    		<div class="iphone to-animate-2"><img src="~/images/uchkov.png" alt="Фитнес клуб для богачей"></div>
							</div>
		    			</div>
		    		</div>
				</div>


		    <div class="item" style="background: #38569f;">
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<h1 class="fh5co-lead to-animate">Показатели тренировок</h1>
									<h2 class="fh5co-sub-lead to-animate">Текст2:<a href="http://vk.com/duckfromboloto" target="_blank">Текст2</a></h2>
									<p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Просмотр показателей</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 header-image-placement">
					    	<div class="iphone to-animate-2"><img src="images/uchkov2.webp" alt="Текст22"></div>
					    </div>
		    		</div>
		    	</div>
		    </div>


		    <div class="item" style="background-image:url(images/slide_5.jpg)">
		    	<div class="overlay"></div>
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2 text-center">
		    				<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
		    						<h1 class="fh5co-lead to-animate">Расписание</h1>
									<h2 class="fh5co-sub-lead to-animate">Текст3:<a href="http://vk.com/duckfromboloto" target="_blank">Текст3</a></h2>
									<p class="to-animate-2"><a href="http://vk.com/duckfromboloto" target="_blank" class="btn btn-primary btn-lg">Посмотреть</a></p>
								</div>
							</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>