<body>
@await Html.PartialAsync("HomePartial")
@await Html.PartialAsync("AboutPartial")
@await Html.PartialAsync("ServicesPartial")
@*@await Html.PartialAsync("FeaturesPartial")*@
@await Html.PartialAsync("FeedbackPartial")
@*@await Html.PartialAsync("PricesPartial")
    @await Html.PartialAsync("NewsPartial")*@
    </body>